* {
    color: #505050;
    font-family: Arial, Helmet, Freesans, sans-serif;
}

body{
	font-size: 16px;
}

.main{
	display: none;
	font-size: 16px;
}
.notDisplayed{
	display: none !important;
}

.highlight {
    color: #007f7f;
    font-weight: bold;
}

.caption {
    font-size: 14px; 
    margin-top: 2px; 
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	color: #333; 
	background: #FFF; 
	overflow: auto; 
}
.autocomplete-suggestion { 
	padding: 8px; 
	white-space: nowrap; 
	overflow: hidden; 
}
.autocomplete-selected, .autocomplete-selected strong{ 
	background:#333; 
	color:#fff 
}