* {
    color: #505050;
    font-family: Arial, Helmet, Freesans, sans-serif;
   	transition: visibility 1s, opacity 1s; 
}

body{
	font-size: 16px;
}

.main{
	display: none;
	font-size: 16px;
}
.notDisplayed{
   transition: visibility 1s, opacity 1s; 
   visibility:hidden;  
   opacity:0;
   height: 0 !important;
   padding: 0 !important;
   margin: 0 !important;
   border: 0 !important;
   overflow: hidden;
}

.highlight {
    color: #007f7f;
    font-weight: bold;
}

.caption {
    font-size: 14px; 
    margin-top: 2px; 
}

.drinkMapHeadline{
	font-size: 20px;
	line-height: 22px;
	margin:1.5em 0 .5em 0;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	color: #333; 
	background: #FFF; 
	overflow: auto; 
}
.autocomplete-suggestion { 
	padding: 8px; 
	white-space: nowrap; 
	overflow: hidden; 
}
.autocomplete-selected, .autocomplete-selected strong{ 
	background:#333; 
	color:#fff 
}