.bottomText{
	padding-left: 0;
	padding-right: 0;
	max-width: 626px;
	margin: auto;

	a {
		font-weight: bold;
		color: #174F82;
		text-decoration: none;
	}
	
	a:hover{
		text-decoration: underline;
	}
}

.sorghumImages img{
	margin-top: 20px;
	display: block;
	width: 100%;
}

.sorghumImages-caption__desktop{
	display: none;
}