.bottomText{
	padding-left: 0;
	padding-right: 0;
	max-width: 626px;
	margin: auto;
}

.sorghumImages img{
	margin-top: 20px;
	display: block;
	width: 100%;
}

.sorghumImages-caption__desktop{
	display: none;
}