.icon__small{
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	width: 24px;
	height: 40px;
	margin-right: 7px;
}

.icon__medium{
	display: inline-block;
	background-size: cover;
	vertical-align: middle;
	width: 26px;
	height: 43px;
}

.icon__large{
	display: inline-block;
	background-size: cover;
	width: 36px;
	height: 59px;
}

.beerIcon {
    background-image: url(../img/beer.png);
}
.wineIcon {
    background-image: url(../img/wine.png);
}
.spiritsIcon {
    background-image: url(../img/spirits.png)
}
